

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px !important; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0) !important;
  -webkit-border-radius: 100px !important;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09) !important;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5) !important;
  -webkit-border-radius: 100px !important;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61) !important; /* Some darker color when you click it */
  -webkit-border-radius: 100px !important;
}

